@charset "UTF-8";

@media screen and (orientation: landscape) {
  body {
    font-size: 1vw;
  }

  #header .menu-icon {
    display: none;
  }
  #header .nav-desktop,
  #header .nav-desktop .menu {
    display: flex;
  }
  #header .nav-desktop .menu .link {
    padding: 15px 0;
  }
  #header .nav-desktop .menu .link a {
    padding: 15px 20px;
  }
  #header .nav-desktop .menu .dropdown {
    position: relative;
    display: inline-block;
    margin: auto;

    &:hover .dropdown-icon {
      color: var(--orange);
    }
    
    &:hover .dropdown-content {
      display: flex;
    }
  }
  #header .nav-desktop .menu .dropdown .dropdown-icon {
    display: inline-block;
    color: var(--yellow-200);
    padding: 0 45px 0 18px;
    border-radius: 1em;
    cursor: default;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 80%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--gray) 0%,
      var(--black) 100%
    );
    box-shadow: 0px 4px 4px 0px var(--black-shadow);
    border-radius: 30px;
    border: 1.5px dashed var(--white);
    padding: 1em;
    z-index: 1;
    animation: cima 0.2s ease-out;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content .btn-colors {
    margin: 1.5em auto;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content .btn-colors .btn-color label {
    padding: 12px;
    padding-top: 16px;
    cursor: pointer;
    transition: 0.2s;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content .btn-colors .btn-color label .fa-solid {
    font-size: 1.4em;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content .btn-colors .btn-color.light label:hover,
  #header .nav-desktop .menu .dropdown .dropdown-content .btn-colors .btn-color.light label:focus-visible {
    background-color: #F2E5301A;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content .btn-colors .btn-color.dark label:hover,
  #header .nav-desktop .menu .dropdown .dropdown-content .btn-colors .btn-color.dark label:focus-visible {
    background-color: #6A4EA633;
  }
  #header .nav-desktop .menu .main-link {
    padding: 15px 0;
  }
  #header .nav-desktop .menu .main-link a {
    color: var(--gray);
  }

  #main #hero {
    background-image: url(../img/fundo-roxo-desktop.png);
    flex-direction: row;
    justify-content: center;
    padding: 4em 0;
    gap: 10em;
  }
  #main #hero .text {
    letter-spacing: 1.8px;
  }

  #main #objectives .texts .title,
  #main #mapping .texts .title,
  #main #municipal-council .texts .title {
    line-height: normal;
    max-width: 100%;
  }

  #main #activities,
  #main #partners {
    gap: 6em;
  }
  #main #activities .title,
  #main #partners .title {
    padding: 28px 60px 20px 60px;
    line-height: normal;
    width: 90%;
  }
  #main #activities .list .item hr {
    width: 80%;
  }
  #main #activities .list .item p {
    border-radius: 0px 0px 50px 50px;
    padding: 15px 25px 25px 25px;
    margin: auto;
  }
  #main #members .img-carousel .img-list,
  #main #activities .img-carousel .img-list {
    gap: 10em;
  }

  #main #members .title,
  #main #rights > .title {
    letter-spacing: 1.6px;
    margin: auto 15%;
  }
  #main #members .presentation .img-carousel .link {
    width: max-content;
  }

  #main #partners .list {
    gap: 5em;
  }
  #main #partners .list .item {
    flex-direction: row;
    align-items: center;
    gap: 4em;
  }
  #main #partners .list .item:last-child {
    flex-direction: row-reverse;
  }
  #main #partners .list .item .text a,
  #main #mapping .texts .btn-to-form a,
  #main #municipal-council .texts a {
    width: fit-content;
    margin: auto;
  }
  #main #members .presentation .img-carousel .link,
  #main #partners .list .item .text a,
  #main #municipal-council .texts a {
    gap: 10px;
  }

  #main #mapping .texts .btn-to-form a {
    gap: 4px;
    padding-left: 30px;
  }
  #main #mapping .texts .btn-to-form a,
  #main #municipal-council .texts a {
    max-width: fit-content;
  }

  #main #rights {
    gap: 5em;
  }
  #main #rights .list {
    width: 100%;
  }
  #main #rights > .title {
    margin: auto 0;
    width: 500px;
  }
  #main #rights .list .card {
    flex-direction: row;
    border-radius: 40px;
    width: 575px;
  }
  #main #rights .list .card .text {
    width: 85%;
    margin: auto 1em;
    text-align: left;
  }

  #main #municipal-council .texts a {
    padding: 15px 35px;
  }

  #footer {
    gap: 0em;
  }
  #footer .main-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  #footer .link-lists {
    align-items: end;
  }
  #footer .contacts {
    max-width: none;
    align-items: flex-end;
    z-index: 1;
  }
  #footer .contacts .card-tell,
  #footer .research {
    max-width: fit-content;
    align-items: flex-end;
    gap: 8px;
  }
  #footer .contacts .card-tell .title {
    gap: 8px;
  }
  #footer .contacts .card-tell .tells .tell {
    gap: 8px;
  }
  #footer .contacts .card-tell .tells .tell .text.mobile {
    display: none;
  }
  #footer .contacts .card-tell .tells .tell .text.desktop {
    display: inline;
  }
  #footer .tells-emergencia {
    gap: 0.5em;
    width: 100%;
  }
  #footer .tells-emergencia .text {
    max-width: 27vw;
  }
  #footer .copyright {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    padding: 0;
    margin-top: 100px;
  }
  #footer .figure {
    margin-top: 15%;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) { /* desktop */
  #header {
    padding: 10px 60px;
    padding-left: 40px;
  }
  #header .logo {
    width: 315px;
  }
  #header .nav-desktop .menu a {
    font-size: 24px;
    padding: 15px 20px;
  }
  #header .nav-desktop .menu .dropdown {
    padding-right: 2em;
  }
  #header .nav-desktop .menu .dropdown .dropdown-icon {
    font-size: 2.4em;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content {
    border-radius: 30px;
    margin-left: -150%;
  }

  #main #hero .figure {
    width: 600px;
  }
  #main #hero .text {
    font-size: 40px;
    line-height: 64px;
    transform: translate(-15%, -18%);
  }
  #main #hero .text strong {
    padding-top: 0.17em;
  }

  #main #objectives {
    scroll-margin-top: calc(100vh - 650px);
  }
  #main #objectives,
  #main #municipal-council {
    flex-direction: row-reverse;
  }
  #main #objectives,
  #main #mapping {
    padding: 60px 30px;
  }
  #main #objectives,
  #main #mapping,
  #main #municipal-council {
    align-items: flex-start;
    gap: 5em;
  }
  #main #objectives .texts .title,
  #main #mapping .texts .title,
  #main #municipal-council .texts .title {
    font-size: 32px;
  }
  #main #objectives .texts,
  #main #mapping .texts,
  #main #municipal-council .texts {
    width: 597px;
  }
  #main #objectives .texts .list {
    padding-left: 36px;
  }
  #main #objectives .texts .list li,
  #main #mapping .texts p,
  #main #municipal-council .texts p {
    font-size: 24px;
    line-height: 40px;
  }
  #main #objectives .texts .list li::before {
    left: -7%;
  }
  #main #objectives .img,
  #main #mapping .img,
  #main #municipal-council .figure {
    width: 500px;
  }
  #main #objectives .figure img,
  #main #mapping .figure img,
  #main #municipal-council .figure img {
    border-radius: 40px;
  }

  #main #activities .title,
  #main #partners .title {
    font-size: 32px;
  }
  #main #activities .list .item p {
    font-size: 24px;
    line-height: 40px;
    width: 50%;
  }
  #main #activities .list .item:nth-child(odd) p {
    transform: translateX(-100px);
  }
  #main #activities .list .item:nth-child(even) p {
    transform: translateX(100px);
  }
  #main #activities .img-carousel {
    margin-top: auto;
  }
  #main #members .img-carousel hr,
  #main #activities .img-carousel hr {
    transform: translateY(490%);
  }
  #main #members .img-carousel .img-list,
  #main #activities .img-carousel .img-list {
    padding-left: calc(100vw - 67vw);
    padding-right: calc(100vw - 67vw);
  }
  #main #members .img-carousel .img-list figure,
  #main #activities .img-carousel .img-list figure {
    border-radius: 2.7em;
    width: 33vw;
  }
  #main #members .img-carousel .img-list figure img,
  #main #activities .img-carousel .img-list figure img {
    pointer-events: none;
    border-radius: 45px;
  }
  #main #members .img-carousel .note,
  #main #activities .img-carousel .note {
    font-size: 18px;
  }
  #main #members .img-carousel .note .icon,
  #main #activities .img-carousel .note .icon {
    margin-bottom: auto;
    margin-top: -1px;
  }

  #main #members {
    padding: 50px 0px 100px 0px;
    gap: 80px;
  }
  #main #members .title,
  #main #rights > .title {
    font-size: 32px;
    line-height: 55px;
    letter-spacing: 1.6px;
    margin: auto 9em;
  }
  #main #members .directors {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #main #members .directors .img-carousel hr {
    transform: translateY(550%);
  }
  #main #members .directors .img-carousel .img-list {
    padding-left: calc(100vw - 62vw);
    padding-right: calc(100vw - 62vw);
  }
  #main #members .directors .img-carousel .img-list figure {
    border-radius: 2.9em;
    width: 23vw;
  }
  #main #members .directors .img-carousel .img-list figure figcaption {
    font-size: 24px;
    bottom: 2.4vh;
  }
  #main #members .presentation .title {
    margin-bottom: 5px;
  }
  #main #members .presentation .img-carousel hr {
    transform: translateY(850%);
  }
  #main #members .presentation .img-carousel .video {
    width: 900px;
    border-radius: 50px;
  }
  #main #members .presentation .img-carousel .link {
    margin: 30px 49% 0;
  }
  #main #members .presentation .img-carousel .link,
  #main #partners .list .item .text a,
  #main #mapping .texts .btn-to-form a,
  #main #municipal-council .texts a {
    border-radius: 40px;
    font-size: 26px;
    line-height: normal;
  }

  #main #partners .list .item .figure {
    width: 320px;
  }
  #main #partners .list .item .text {
    width: 630px;
    padding: 30px 40px 40px 40px;
    border-radius: 40px;
  }
  #main #partners .list .item .text p {
    font-size: 24px;
    line-height: 40px;
  }
  #main #partners .list .item .text a .icon,
  #main #municipal-council .texts a .icon {
    font-size: 0.95em;
  }

  #main #mapping {
    scroll-margin-top: calc(100vh - 630px);
    flex-direction: row;
  }
  #main #mapping .texts .btn-to-form {
    align-items: end;
    margin: .7em 0 0;
  }

  #main #rights > .title {
    width: 600px;
  }
  #main #rights .list .card {
    border-radius: 40px;
    width: 575px;
  }
  #main #rights .list .card:nth-child(1) {
    transform: translateX(-100px);
  }
  #main #rights .list .card:last-child {
    transform: translateX(100px);
  }
  #main #rights .list .card .figure {
    width: 220px;
    height: 160px;
    border-radius: 40px;
  }
  #main #rights .list .card .text {
    font-size: 24px;
    line-height: 40px;
  }
  #main #rights .list hr {
    width: 70%;
  }

  #main #municipal-council .texts .title {
    width: 100%;
  }
  #main #municipal-council .texts a {
    margin: 0.7em 0 0.1em;
  }

  #main #topo {
    right: 2%;
    padding: 20px 42px 20px 46px;
    font-size: 3em;
  }

  #footer {
    padding: 70px 100px 50px;
  }
  #footer .logo {
    width: 100px;
  }
  #footer .contacts {
    gap: 20px;
    padding: 35px 35px 30px;
    border-radius: 40px;
  }
  #footer .contacts .card-tell h3.title .text {
    font-size: 28px;
  }
  #footer .contacts .card-tell h4.title .text,
  #footer .research h4.title .text {
    font-size: 24px;
  }
  #footer .contacts .card-tell .title .icon,
  #footer .research .title .icon {
    font-size: 1.5em;
  }
  #footer .contacts .card-tell .tells .tell .icon,
  #footer .research .fonts .font .icon,
  #footer .tells-emergencia .tells .tell .icon {
    font-size: 1.3em;
  }
  #footer .contacts .card-tell .tells .tell,
  #footer .research .fonts .font {
    font-size: 24px;
    border-radius: 30px;
  }
  #footer .contacts hr {
    margin-bottom: 10px;
  }
  #footer .tells-emergencia {
    margin-top: -450px;
  }
  #footer .tells-emergencia .text {
    font-size: 24px;
  }
  #footer .tells-emergencia .tells .tell {
    font-size: 20px;
  }
  #footer .copyright {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) { /* landscape mobile */
  #header .logo {
    width: 215px;
  }
  #header .nav-desktop .menu a {
    padding: 10px;
  }
  #header .nav-desktop .menu .dropdown {
    margin-right: 2.4em;
  }
  #header .nav-desktop .menu .dropdown .dropdown-icon {
    font-size: 3.4em;
  }
  #header .nav-desktop .menu .dropdown .dropdown-content {
    border-radius: 20px;
    margin-left: -200%;
  }
  #header .nav-desktop .menu .main-link a {
    padding: 10px 20px;
  }

  #main #hero .figure {
    width: 335px;
  }
  #main #hero .text {
    font-size: 28px;
    transform: translate(-15%, -2%);
  }

  #main #objectives,
  #main #mapping {
    padding: 45px 30px;
  }
  #main #objectives,
  #main #mapping,
  #main #municipal-council {
    gap: 4em;
  }
  #main #objectives .texts,
  #main #mapping .texts,
  #main #municipal-council .texts {
    width: 500px;
    align-items: center;
  }
  #main #objectives .texts .title,
  #main #mapping .texts .title,
  #main #municipal-council .texts .title {
    margin-bottom: 2px;
  }
  #main #objectives .texts .list {
    padding-left: 4em;
  }
  #main #objectives .texts .list li::before {
    left: -9%;
  }
  #main #objectives .img,
  #main #mapping .img,
  #main #municipal-council .figure {
    width: auto;
    height: 260px;
  }
  #main #objectives .figure img,
  #main #mapping .figure img,
  #main #municipal-council .figure img {
    border-radius: 40px;
  }

  #main #activities,
  #main #partners,
  #main #rights {
    padding: 70px 0;
  }
  #main #activities .list .item p {
    width: 60%;
  }
  #main #activities .list .item:nth-child(odd) p {
    transform: translateX(-40px);
  }
  #main #activities .list .item:nth-child(even) p {
    transform: translateX(40px);
  }
  #main #activities .img-carousel {
    margin-top: -1em;
  }
  #main #members .img-carousel hr,
  #main #activities .img-carousel hr {
    transform: translateY(32vh);
  }
  #main #members .img-carousel .img-list,
  #main #activities .img-carousel .img-list {
    padding-left: calc(100vw - 70vw);
    padding-right: calc(100vw - 70vw);
  }
  #main #members .img-carousel .img-list figure,
  #main #activities .img-carousel .img-list figure {
    border-radius: 5em;
    width: 40vw;
  }
  #main #members .img-carousel .note,
  #main #activities .img-carousel .note {
    margin-top: 2em;
  }

  #main #members {
    padding: 45px 0px 60px 0px;
    gap: 10em;
  }
  #main #members .directors .img-carousel hr {
    transform: translateY(35vh);
  }
  #main #members .directors .img-carousel .img-list {
    padding-left: calc(100vw - 64vw);
    padding-right: calc(100vw - 64vw);
  }
  #main #members .directors .img-carousel .img-list figure {
    width: 220px;
  }
  #main #members .directors .img-carousel .img-list figure figcaption {
    font-size: 16px;
    bottom: 2.4vh;
  }
  #main #members .presentation .img-carousel hr {
    transform: translateY(42vh);
  }
  #main #members .presentation .img-carousel .video {
    width: auto;
    height: 280px;
    border-radius: 5em;
  }

  #main #partners .list .item .text {
    width: 430px;
  }
  #main #partners .list .item .text a {
    gap: 20px;
  }

  #main #mapping .texts .btn-to-form {
    margin: .7em auto 0;
  }

  #main #rights {
    padding: 80px 0;
  }
  #main #rights .list {
    gap: 40px;
  }
  #main #rights .list .card {
    width: 555px;
  }
  #main #rights .list .card .figure {
    width: 200px;
    height: 140px;
  }
  #main #rights .list hr {
    width: 80%;
  }

  #main #municipal-council {
    padding-top: 30px;
  }
  #main #municipal-council .texts a {
    margin: 0.9em auto;
  }

  #main #topo {
    right: 2.5%;
    font-size: 5em;
  }

  #footer {
    padding: 60px 40px 10px;
  }
  #footer .contacts .card-tell .title .icon,
  #footer .research .title .icon {
    font-size: 2em;
  }
  #footer .tells-emergencia {
    margin-top: -48%;
  }
  #footer .figure {
    width: 250px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1200px) and (orientation: portrait) { /* tablets */
  #header {
    padding: 10px 40px;
    padding-left: 20px;
  }
  #header .menu-icon {
    font-size: 4.5em;
  }
  #header #modal-container #menu .title {
    font-size: 28px;
  }
  #header #modal-container #menu .nav .menu a,
  #header .nav-desktop .menu a {
    font-size: 24px;
  }

  #main #objectives,
  #main #mapping,
  #main #municipal-council {
    padding: 45px 40px 90px;
    gap: 5em;
  }
  #main #objectives .texts,
  #main #mapping .texts,
  #main #municipal-council .texts {
    gap: 1em;
  }
  #main #objectives .texts .title,
  #main #mapping .texts .title,
  #main #municipal-council .texts .title {
    font-size: 28px;
  }
  #main #objectives .texts .list {
    padding-left: 3.5em;
  }
  #main #objectives .texts .list li,
  #main #mapping .texts p,
  #main #municipal-council .texts p {
    font-size: 24px;
    line-height: 40px;
  }
  #main #objectives .texts .list li::before {
    left: -9%;
  }
  #main #objectives .img,
  #main #mapping .img,
  #main #municipal-council .figure {
    width: 415px;
  }
  #main #objectives .figure img,
  #main #mapping .figure img,
  #main #municipal-council .figure img {
    border-radius: 45px;
  }
  #main #activities,
  #main #partners,
  #main #rights {
    gap: 6em;
  }
  #main #activities .title,
  #main #partners .title {
    font-size: 28px;
    line-height: 40px;
  }
  #main #activities .list {
    gap: 5em;
  }
  #main #activities .list .item p {
    font-size: 22px;
    line-height: 35px;
    padding: 20px 25px 30px;
  }
  #main #members .img-carousel .note,
  #main #activities .img-carousel .note {
    font-size: 20px;
  }
  #main #members .img-carousel .note .icon,
  #main #activities .img-carousel .note .icon {
    font-size: 1.4em;
  }
  #main #members .title,
  #main #rights > .title {
    font-size: 28px;
    line-height: 45px;
  }
  #main #members {
    gap: 100px;
    padding: 50px 0px 110px;
  }
  #main #members .img-carousel hr,
  #main #activities .img-carousel hr {
    transform: translateY(500%);
  }
  #main #members .directors .img-carousel hr {
    transform: translateY(650%);
  }
  #main #members .directors .img-carousel .img-list figure figcaption {
    font-size: 22px;
    bottom: 2.8vh;
  }
  #main #partners .list .item {
    gap: 4em;
  }
  #main #partners .list .item .figure {
    width: 350px;
  }
  #main #partners .list .item .figure img {
    border-radius: 45px;
  }
  #main #partners .list .item .text {
    width: 430px;
    padding: 28px 35px 40px;
  }
  #main #partners .list .item .text p {
    font-size: 24px;
    line-height: 40px;
  }
  #main #partners .list .item .text a,
  #main #mapping .texts .btn-to-form a,
  #main #municipal-council .texts a {
    font-size: 26px;
    line-height: 32px;
  }
  #main #partners .list .item .text a .icon,
  #main #mapping .texts .btn-to-form a .icon,
  #main #municipal-council .texts a .icon {
    font-size: 1.15em;
  }
  #main #mapping .texts .btn-to-form a {
    margin: 0.9em auto 1em;
    max-width: 300px;
  }
  #main #rights .list .card {
    width: 330px;
    border-radius: 45px;
  }
  #main #rights .list .card .figure {
    width: 330px;
    border-radius: 45px;
  }
  #main #rights .list .card .text {
    font-size: 24px;
    line-height: 40px;
  }
  #main #rights .list hr {
    width: 120%;
  }
  #main #municipal-council .texts .title {
    width: 100%;
  }
  #main #municipal-council .texts a {
    max-width: 360px;
  }
  #main #topo {
    right: 4.5%;
    bottom: 4%;
    padding: 20px 42px 20px 46px;
    font-size: 4em;
  }

  #footer {
    padding: 70px 31px 90px;
    gap: 8em;
  }
  #footer .logo {
    width: 100px;
  }
  #footer .contacts .card-tell {
    padding: 35px 30px;
    gap: 5px;
    border-radius: 30px;
    max-width: 400px;
  }
  #footer .contacts .card-tell .title .text {
    font-size: 24px;
  }
  #footer .contacts .card-tell .title .icon {
    font-size: 1.2em;
  }
  #footer .contacts .card-tell .tells .tell {
    font-size: 22px;
  }
  #footer .contacts .card-tell .tells .tell .icon,
  #footer .tells-emergencia .tells .tell .icon {
    font-size: 1.3em;
  }
  #footer .tells-emergencia {
    width: 350px;
  }
  #footer .tells-emergencia .text {
    font-size: 22px;
  }
  #footer .tells-emergencia .tells .tell {
    font-size: 20px;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) and (orientation: portrait) { /* larger mobile */
  #main #members .img-carousel hr,
  #main #activities .img-carousel hr {
    transform: translateY(390%);
  }
  #main #members .directors .img-carousel hr {
    transform: translateY(550%);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) and (orientation: landscape) { /* smaller desktops */
  #header .nav-desktop .menu .dropdown .dropdown-icon {
    padding-right: 32px;
    font-size: 2.8em;
  }
}

@media screen and (min-width: 1500px) and (orientation: landscape) { /* larger desktops */
  #header {
    padding-right: 80px;
    padding-left: 75px;
  }
  #header .nav-desktop .menu .dropdown {
    padding-right: 1em;
  }

  #main #hero .figure {
    width: 700px;
  }
  #main #hero .text {
    font-size: 44px;
    line-height: 68px;
    transform: translate(-15%, -26%);
  }

  #main #activities .list .item p {
    width: 40%;
  }
  #main #activities .list .item:nth-child(odd) p {
    transform: translateX(-150px);
  }
  #main #activities .list .item:nth-child(even) p {
    transform: translateX(150px);
  }
  #main #members .img-carousel hr,
  #main #activities .img-carousel hr {
    transform: translateY(550%);
  }
  #main #members .directors .img-carousel hr {
    transform: translateY(650%);
  }
}
